{% extends "pages/base.html" %}
 {% block content %}
  <div class="row">
  <style>
    #move{
      position: relative;
      right: 80px;
    }
    #img{
      position: relative;
      right: 90px;
    }
  </style>

<!-- Blog Entries Column -->
<div class="col-md-6  left">
      {% for post in posts%}
  <div id="move" class="card mb-4"  >
    <div class="card-body">
      <img id="img" class="rounded-circle  img-thumbnail img-fluid avatar" src="{{ post.author.profile.image.url}}" alt="profile_picture" accept=".jpg,.jpeg,.png"/>
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text text-muted h6"> by  <a href="{% url 'user-posts' post.author %}">{{ post.author }} </a> on {{ post.date_posted|date:"F d, Y" }} </p>

      <p class="card-text">{{post.content|slice:":50" | linebreaks }}</p>
      <a href="{% url 'page-detail' post.id  %}" class="btn btn-primary">Read More &rarr;</a>
    </div>
  </div>
   
  {% endfor %}
</div>
{% block sidebar %}
{% include 'pages/sidebar.html' %}
{% endblock sidebar %}
</div>
<div class="container-fluid">
{% if is_paginated %}

{% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
{% endfor %}


{% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}
</div>
  {% endblock content %}