{% extends "pages/base.html" %}
 {% block content %}
 
 <style>

  body {

      background-color: #f2f2f2;

  }
 
</style>

 
  <form method="POST" class="card" >
    {% csrf_token %}
    <h2 class="text-center">Log in to your account</h2>
  {% for field in form %}
        {{ field.label_tag }} 
          {{ field }}
          {% if field.errors %}
            <small>{{ field.errors|striptags  }}</small> 
          {% endif %}
  {% endfor %}
  
  <input type="submit" value="Login" class="btn btn-primary full-width">
  <hr>
  <p class="text-center">Forgot your password <a href="">Reset Password</a></p>
  <p class="text-center">Don't have a account? <a href="{% url 'page-register' %}">Register</a></p>
</form>


    {% endblock content %}