{% extends "pages/base.html" %}
 {% block content %}
 <style>
    #move{
      position: relative;
      right: 250px;
    }
    #move2{
      position: relative;
      right: 250px;
      top: 20px;
    }
    #img{
      position: relative;
      right: 90px;
    }
  </style>
 <div class="container">
    <div class="col-md-4 card   top">
      <div class="card-body">
    <h1>{{post.title}}</h1>
    <p class=" text-muted">By {{post.author}} on {{post.date_posted}} </p>
    <p class="mbr-text ">{{ post.content| linebreaks }}</p>
  </div>
</div>
</div>


    <div class="card" id="move">
  
        <!-- comments -->
        Comment{{ comments.count|pluralize }}
            <h2>{{ comments.count }} comments</h2>

            {% if comments %}

            {% for comment in comments %}
      
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created }}
                    </span>
                </p>
                {{ comment.body | linebreaks }}

        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-4 " id="move2">
      <div class="card-body">
          {% if new_comment %}
              <div class="alert alert-success" role="alert">
                  Your comment is awaiting moderation
              </div>
          {% else %}
              <h3>Leave a comment</h3>
              <form method="post" style="margin-top: 1.3em;">
                  {{ comment_form}}
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
              </form>
          {% endif %}
      </div>
  </div>
</div>

  </div>
  {% endblock content %}