{% block sidebar %}
<style>
    #move2{
      position: relative;
      left:  200px;
      bottom:  20px;
    }
  </style>
<div class="col-md-3 right ">
    <div id="move2" class="card my-4">
      
          <h3 class="card-header">Our Sidebar</h3>
          <div class="card-body">
          <p class='text-muted'>Find information.
          <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">About</li>
          </ul>
          </p>
          </div>
      </div>
  </div>

  {% endblock sidebar %}